* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

/*
* Globals
*/
body {
  color: #000;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.03em;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4em;
}
a {
  color: #000;
  line-height: 28px;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.4em;
  font-weight: 600;
}
p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}
pre, ul {
  margin-bottom: 20px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  max-width: 100%;
}
.container, header, footer {
  margin: auto;
}
.content-section {
  margin-bottom: 3.75rem;
}
.quote blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.container {
  padding: 20px;
}

main {
  min-height: calc(100vh - 79px);
}

.hidden {
  opacity: 0;
}

.poster {
  max-height: 400px;
  margin-bottom: 20px;
}

.still-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gal-links:nth-child(odd) {
  width: 33.33%;
}

.gal-links {
  margin: 0 0 20px;
  width: 66.66%;
  display: flex;
  justify-content: center;
}

.gal-link {
  width: 500px;
  height: auto;
}

/* specific style classes */

.grey {
  color: #999;
}
.pad-10 {
  padding: 10px;
}
.pad-20 {
  padding: 20px;
}
.fw500 {
  font-weight: 500;
}
.floatR {
  float: right;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}

@media (min-width: 768px) {

.container {
    padding: 80px 20px;
}

}
