* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

/*
* Globals
*/
body {
  color: #000;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.03em;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4em;
}
a {
  color: #000;
  text-decoration: none;
}
h1 {
  font-size: 18px;
}
h2, h3, h4, h5, h6 {
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.4em;
  font-weight: 600;
  margin-bottom: 15px;
}
p {
  margin-bottom: 15px;
}
pre, ul {
  margin-bottom: 20px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  max-width: 100%;
}
.container, header, footer {
  margin: auto;
}
.content-section {
  margin-bottom: 3.75rem;
}
.quote blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.container {
  padding: 20px;
}

main {
  min-height: calc(100vh - 79px);
}

.hidden {
  opacity: 0;
}

.gal-image {
  position: relative;
}

.gal-image:hover .gal-title {
  opacity: 1;
}

.gal-title {
  position: absolute;
  bottom: 30px;
  opacity: 0;
  font-size: 12px;
  left: 30px;
  padding: 10px 15px;
  background: #fff;
  transition: opacity 0.3s ease-in-out;
}

.stills-link {
  position: absolute;
  transition: transform 1s ease;
}

.stills-link:hover {
  z-index: 2;
  transform: scale(1.1);
}

.stills-link img {
  height: 100%;
}

footer {
  font-size: 12px;
}

/* specific style classes */

.grey {
  color: #999;
}
.pad-10 {
  padding: 10px;
}
.pad-20 {
  padding: 20px;
}
.pad-30 {
  padding: 30px;
}
.fw500 {
  font-weight: 500;
}
.floatR {
  float: right;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.td-u {
  text-decoration: underline;
}

.stills-container {
}

@media (min-width: 768px) {

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }

  .stills-container {
    position: relative;
    height: 100vh;
  }

  .container {
      padding: 80px 30px;
  }

}
